@import "../palette.scss";


.navbar {
  width: 100%;
  border-bottom: 2px solid $surface0;
  background-color: $mantle;
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem 0 0 0.5rem;
}

.tab {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-bottom: 2px solid transparent;
  color: $text;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
  transform: translateY(2px);
  user-select: none;
}

.tab:hover {
  color: $overlay2;
}

.tab.active {
  color: $mauve;
  border-bottom: 2px solid $mauve;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: $surface1;
  color: $subtext0;
  font-size: 0.7rem;
  font-weight: 500;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.5rem;
}
