@import "../palette.scss";

.overlay {
  width: 100%;
  height: 100%;
  background-color: $crust;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  aspect-ratio: 1 / 1;
  width: calc(log(2) * 11vmin);

  & .path {
    stroke: $mauve;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media (max-width: 1000px) {
  .spinner {
    width: calc(log(2) * 20vmin);
  }
}