@import "../palette.scss";

.progress {
  width: 100%;
  height: 0.4rem;
  background-color: $mantle;
  overflow: hidden;
}

.inner {
  width: calc(100% + 0.25rem);
}

.bar {
  height: 0.2rem;
  background-color: $teal;
  box-shadow: 0 0 0.2rem $mauve;
  border-radius: 0 0.25rem 0.25rem 0;
}
